<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <p>
      <a href="{% url 'playground:home' %}">plearning_log</a> <br>
      <a href="{% url 'playground:topics' %}">topics</a>
      {% if user.is_authenticated %}
        hello, {{ user.username }}
        <a href="{% url 'users:logout' %}"> Log out >></a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </p>    
    {% block content %}    {% endblock content %}    
  </body>
</html>