{% extends "playground/base.html" %}

{% block content %}
  <p> Topic: {{ topic }}</p>
  <p> Entries:</p>
  <p>ID: {{ topic.id }}</p>
  <p>
    <a href="{% url 'playground:new_entry' topic.id %}">Add new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
      <div class="panel panel-default">
        <div class="pannel-heading">
          <h3>
            {{ entry.date_added|date:"Y-m-d" }}
            <small>
              <a href="{% url 'playground:edit_entry' entry.id %}">edit Entry</a>| |
            </small>
            <small>
              <a href="{% url 'playground:del_entry' entry.id %}"> delete_entry!!</a>
            </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ entry.text|linebreaks }}
        </div>
      </div>
<!-- 
      <li>
        <p>{{ entry.date_added|date:"Y-m-d" }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
          <a href="{% url 'playground:edit_entry' entry.id %}">edit Entry</a>| |
        </p>
        
      </li> -->
    {% empty %}
      There are no Entries
    {% endfor %}
  </ul>
{% endblock content %}