{% extends "playground/base.html" %}

{% block content %}
  <p> Topic: {{ topic }}</p>
  <p> Entries:</p>
  <p>ID: {{ entry.id }}</p>
  <p>
    <a href="{% url 'playground:new_entry' topic.id %}">Add new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
      <li>
        <p>{{ entry.date_added|date:"Y-m-d" }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
          <a href="{% url 'playground:edit_entry' entry.id %}">edit Entry</a>
        </p>
      </li>
    {% empty %}
      <li>Empty set of entry</li>
    {% endfor %}
  </ul>
{% endblock content %}